<div class="education-section">
  <div class="container">
    <div class="row">
      <!-- Left Column: Skill Info -->
      <div class="education-title padd-15">
        <h2>Qualification</h2>
      </div>
    </div>


        <div class="education-content padd-15 ">
      

          <div class="row">
            
            <!--Education Section-->
              <div class="education  padd-15">
                  <h3>Education:</h3>
               <div class="row">
                  <div class="timeline-box padd-15">
                  <div class="timeline  shadow-dark">

                    <!--timeline item-->
                    <div class="timeline-item">
                      <div class="circle-dot"> </div>
                      <h3 class="timeline-date">
                        <i class="fas fa-calendar-alt"></i> 2021 - 2023
                      </h3>
                      <h4 class="timeline-title">Masters of Computer Applications</h4>
                      <p class="timeline-text">Jamal Mohamed College,<br>Trichy-21 <br>Bharathidasan University</p>
                    </div>    
                    
                    <div class="timeline-item">
                      <div class="circle-dot"> </div>
                      <h3 class="timeline-date">
                        <i class="fas fa-calendar-alt"></i> 2018 - 2021
                      </h3>
                      <h4 class="timeline-title">Bachelor of Computer Applications</h4>
                      <p class="timeline-text">Jamal Mohamed College,<br>Trichy-21 <br>Bharathidasan University</p>
                    </div> 

                    <div class="timeline-item">
                      <div class="circle-dot"> </div>
                      <h3 class="timeline-date">
                        <i class="fas fa-calendar-alt"></i> 2017 - 2018
                      </h3>
                      <h4 class="timeline-title">HSC</h4>
                      <p class="timeline-text">Bishop Heber Hr Sec School,<br>Theppakulam,<br>Trichy-620002</p>
                    </div> 

                    <div class="timeline-item">
                      <div class="circle-dot"> </div>
                      <h3 class="timeline-date">
                        <i class="fas fa-calendar-alt"></i> 2015 - 2016
                      </h3>
                      <h4 class="timeline-title">SSLC</h4>
                      <p class="timeline-text">Bishop Heber Hr Sec School,<br>Theppakulam,<br>Trichy-620002</p>
                    </div> 

                  </div>
                  </div>
                </div>
              </div>

              <!--Project Section-->
              <!-- <div class="project  padd-15">
                <h3>Projects:</h3>
             <div class="row">
                <div class="timeline-box padd-15">
                <div class="timeline  shadow-dark">           
                </div>
                </div>
              </div>
            </div> -->












          
          </div>

        </div>
  </div>
       
</div>
