<section class="footer">
    <div class="sectionalicon">
        <a href="https://github.com/Jakkariya" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/jakkariya-rowther-m-a288b5306/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/mr_jack_2033/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="footernav">
        <ul >
            <li >
              <a  (click)="toHome()" routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li >
              <a  (click)="toAbout()" routerLink="about" routerLinkActive="active"><i class="fa-solid fa-user"></i>About</a>
            </li>
            <li >
              <a  (click)="toSkills()" routerLink="skills" routerLinkActive="active"><i class="fa-solid fa-laptop"></i>Skills</a>
            </li>
            <li >
              <a  (click)="toEducation()" routerLink="education" routerLinkActive="active"><i class="fa-solid fa-school"></i>Education</a>
            </li>
            <li >
              <a  (click)="toGetintouch()" routerLink="get-in-touch" routerLinkActive="active"><i class="fa-solid fa-comment"></i>Get in Touch</a>
            </li>
          </ul>
    </div>

    <div class="footer-bottem">
        <p>Copyright &copy; 2024; Designed by <span class="designer">Jakkariya Rowther M</span></p>
    </div>
</section>