

<div class="about-section">
    <div class="container">
      <div class="row">
        <!-- Left Column: About Info -->
        <div class="about-title padd-15">
          <h2>About Me</h2>
        </div>
      </div>
          <div class="row">
            <div class="about-content padd-15">
          <div class="row">
            <div class="about-text">
              <h3>I'm Jakkariya Rowther, a <span>Java Full Stack Developer</span></h3>

              <p>A recent graduate with a Master's in Computer Applications (MCA), class of 2023. I have completed a certification course as a <strong>Java Full Stack Developer</strong>, gaining a solid foundation in both front-end and back-end technologies. Please find my <strong>Resume</strong> attached below for further details.</p>
              
              <h5>Technical Skills:</h5>
              <ul>
                <li><strong>Front-End:</strong> HTML5, CSS3, JavaScript, Angular, Bootstrap5</li>
                <li><strong>Back-End:</strong> Java, MySQL, Spring Boot, Python, C++</li>
              </ul>
              
              <p>I have hands-on experience in Java Full Stack Development under the guidance of EduBridge India. I also completed an intensive Full Stack Development Internship at iLife Academy and attained proficiency in Web Development through a certification course.</p>
              
              <h5>Project Experience:</h5>
              <ul>
                <li><strong>Health Care Monitoring System:</strong> A web application with database connectivity using WAMP server</li>
                <li><strong>E-commerce Website:</strong> A platform with database connection</li>
                <li><strong>School Management and Employee Management System:</strong> (Java Full Stack) utilizing MVC Architecture</li>
              </ul>
              
              <p>I'm excited to apply my skills in a dynamic work environment where I can contribute to impactful projects and continue growing as a developer.</p>
              
            </div>
          </div>
          <div class="row"></div>
          <div class="button-group padd-15">
            <a class="btn hire-me" (click)="toGetintouch()" routerLink="/get-in-touch">Contact Me</a>
            <a class="btn download-resume" href="assets/resume/JakkariyaRowtherResume.pdf" download>Download CV</a>
          </div>
            </div>
  
        
          </div>
    </div>
</div>

  