<div class="skill-section">
    <div class="container">
      <div class="row">
        <!-- Left Column: Skill Info -->
        <div class="skill-title padd-15">
          <h2>My Skills</h2>
          </div>
          </div>


          <div class="skill-content padd-15 ">
        

            <div class="row">

                <div class="back-end  padd-15">
                    <h3>Back-End technologies:</h3>
                <div class="row">
                    <div class="timeline-box padd-15">
                    <div class="timeline  shadow-dark">           

            <div class="skill-item padd-15">
                         <h5>JAVA</h5>
                <div class="progress">
                    <div class="progress-in" style="width: 90%;"></div>
                    <div class="skill-percent">90%</div>
                </div>
                <div class="skill-level">
            
                    <span>Advanced</span>
                  </div>
            </div>
            <div class="skill-item padd-15">
                <h5>MY SQL</h5>
                <div class="progress">
                    <div class="progress-in" style="width: 75%;"></div>
                    <div class="skill-percent">75%</div>
                </div>
                <div class="skill-level">
                    <span>Advanced</span>
                  </div>
            </div>
                <div class="skill-item padd-15">
                <h5>SPRING BOOT</h5>
                <div class="progress">
                    <div class="progress-in" style="width: 75%;"></div>
                    <div class="skill-percent">75%</div>
                </div>
                <div class="skill-level">
            
                    <span>Intermediate</span>
                  </div>
            </div>
                <div class="skill-item padd-15">
                <h5>C++</h5>
                <div class="progress">
                    <div class="progress-in" style="width: 65%;"></div>
                    <div class="skill-percent">65%</div>
                </div>
                <div class="skill-level">
            
                    <span>Intermediate</span>
                  </div>
            </div>
                <div class="skill-item padd-15">
                <h5>PYTHON</h5>
                <div class="progress">
                    <div class="progress-in" style="width: 50%;"></div>
                    <div class="skill-percent">50%</div>
                </div>
                <div class="skill-level">
            
                    <span>Beginer</span>
                  </div>
            </div>
                <div class="skill-item padd-15">
                <h5>GITHUB</h5>
                <div class="progress">
                    <div class="progress-in" style="width: 75%;"></div>
                    <div class="skill-percent">75%</div>
                </div>
                <div class="skill-level">            
                    <span>Intermediate</span>
                  </div>
                  </div>
            </div>
            </div>
                </div>
</div>







                    <div class="front-end  padd-15">
                        <h3>Front-End technologies:</h3>
                    <div class="row">
                        <div class="timeline-box padd-15">
                            <div class="timeline  shadow-dark"> 
                <div class="skill-item padd-15">
                    <h5>HTML 5</h5>
                    <div class="progress">
                        <div class="progress-in" style="width: 95%;"></div>
                        <div class="skill-percent">95%</div>
                    </div>
                    <div class="skill-level">            
                        <span>Advanced</span>
                      </div>
                </div>
                
                <div class="skill-item padd-15">
                    <h5>CSS 3</h5>
                    <div class="progress">
                        <div class="progress-in" style="width: 75%;"></div>
                        <div class="skill-percent">75%</div>
                    </div>
                    <div class="skill-level">            
                        <span>Intermediate</span>
                      </div>
                </div>
                    <div class="skill-item padd-15">
                    <h5>JAVASCRIPT</h5>
                    <div class="progress">
                        <div class="progress-in" style="width: 50%;"></div>
                        <div class="skill-percent">50%</div>
                    </div>
                    <div class="skill-level">            
                        <span>Beginer</span>
                      </div>
                </div>
                    <div class="skill-item padd-15">
                    <h5>ANGULAR</h5>
                    <div class="progress">
                        <div class="progress-in" style="width: 75%;"></div>
                        <div class="skill-percent">75%</div>
                    </div>
                    <div class="skill-level">            
                        <span>Intermediate</span>
                      </div>
                </div>
                <div class="skill-item padd-15">
                    <h5>JAVASCRIPT</h5>
                    <div class="progress">
                        <div class="progress-in" style="width: 50%;"></div>
                        <div class="skill-percent">50%</div>
                    </div>
                    <div class="skill-level">            
                        <span>Beginer</span>
                      </div>
                </div>
                    <div class="skill-item padd-15">
                    <h5>BOOTSTRAP 5</h5>
                    <div class="progress">
                        <div class="progress-in" style="width: 95%;"></div>
                        <div class="skill-percent">95%</div>
                    </div>
                    <div class="skill-level">            
                        <span>Advanced</span>
                      </div>
                    </div>
</div></div></div>
                    
                    
                   



                
            </div>
          </div>
         
    </div>
</div>