

<section id="home">
<div class="home">
    <div class="container">
        <div class="row">
        <div class="home-info padd-15">
            <h3 class="hello">Hello, I'm <span class="name">Jakkariya Rowther M</span></h3>
            <h3 class="my-profession"><span class="typing">{{ typingText }}</span></h3>
            <p>I recently completed my Master of Computer Applications (MCA) and am eager to step into the professional world as a Java Full Stack Developer. As a fresher, I'm passionate about building efficient, scalable, and user-friendly applications. I'm currently seeking good opportunities where I can apply my skills and grow in a dynamic environment. <br>
            <br>With a solid foundation in both front-end and back-end technologies, I'm excited to contribute to impactful projects and be part of a team that values innovation and collaboration.</p>

            <div class="row">
                <div class="button">
                    <a class="btn hire-me" (click)="toGetintouch()" routerLink="/get-in-touch" >Contact Me</a>

                </div>
                <div class="sectionalicon">
                    <a href="https://github.com/Jakkariya" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/jakkariya-rowther-m-a288b5306/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/mr_jack_2033/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
           
        </div>
        <div class="home-img padd-15">
            <img src="assets/imgs/portfoliohome4.png" alt="Jakkariya Rowther M">
        </div>
    </div>
    </div>
</div>
</section>


<section id="about"><app-about></app-about></section>
<section id="skills"><app-skills></app-skills></section>
<section id="education"><app-education></app-education></section>
<section id="get-in-touch"><app-get-in-touch></app-get-in-touch></section>
<section id="footer"><app-footer></app-footer></section>